apiVersion: v1
kind: PersistentVolume
metadata:
  name: "{{ pv_name }}"
spec:
  capacity:
    storage: 1Gi 
  accessModes:
    - ReadWriteOnce
    - ReadWriteMany 
  nfs: 
    path: "{{ pv_path }}" 
    server: "{{ pv_server }}" 
    readOnly: false
